<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="360px" (click)="onclick()">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h4>TOP 3 ORDER</h4>
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <!-- <mat-form-field style="width:1100px;">
              <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Search Order"
              />
            </mat-form-field> -->

            <table
              mat-table
              [dataSource]="orderSource"
              class="mat-elevation-z8"
              matSort
            >
          <ng-container matColumnDef="order_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>DATE</b>
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.order_date | date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="order_amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>AMOUNT</b>
                </th>
                <td mat-cell *matCellDef="let element">
                  {{
                    element.order_amount
                      | currency: "INR":"symbol-narrow":"3.2-2"
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>STATUS</b>
                </th>
                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[3,0,0]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              <h4>TOP 3 CATEGORY</h4>
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" (click)="onclick1()">
          <div>
            <table mat-table [dataSource]="CategorySource" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action  </th>
                <td mat-cell *matCellDef="let element"> {{element.Action}}
                <mat-checkbox ></mat-checkbox>
                </td>

              </ng-container>
              <ng-container matColumnDef="cat_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>NAME</b> </th>
                <td mat-cell *matCellDef="let element"> {{element.cat_name}} </td>
              </ng-container>

              <ng-container matColumnDef="Symbol">
                <th mat-header-cell *matHeaderCellDef> <b>ACTION</b> </th>
                <td mat-cell *matCellDef="let element">{{element.Symbol}}
                <!-- <button type="button" (click)="onUpdate(element)" class="btn btn-default">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button> -->
                <button mat-mini-fab color="Accent" >
                  <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
                </button>
          &nbsp;
                <!-- <button type="button" (click)="onDelete(element)" class="btn btn-default">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>-->
                <button mat-mini-fab color="Accent" >
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                </button>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[3,0,0]"></mat-paginator>


          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            home2
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <table mat-table [dataSource]="OrderSource" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="user_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name  </th>
                <td mat-cell *matCellDef="let element"> {{element.user_name}}
                </td>

              </ng-container>
              <ng-container matColumnDef="order_amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Order_Amount</b> </th>
                <td mat-cell *matCellDef="let element"> {{element.order_amount}} </td>
              </ng-container>

              <ng-container matColumnDef="order_date">
                <th mat-header-cell *matHeaderCellDef> <b>Order_Date</b> </th>
                <td mat-cell *matCellDef="let element">{{element.order_date | date}}
                <!-- <button type="button" (click)="onUpdate(element)" class="btn btn-default">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button> -->
              </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[3,0,0]"></mat-paginator>


          </div>


        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              <h4>TOP 3 PRODUCT</h4>
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" (click)="onclick2()">
          <div>
            <table mat-table [dataSource]="ProductSource" class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element"> {{element.Action}}
                  <mat-checkbox ></mat-checkbox>
                </td>

              </ng-container>
              <ng-container matColumnDef="pro_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>NAME</b>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.pro_name}} </td>
              </ng-container>

              <ng-container matColumnDef="pro_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>PRICE</b>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.pro_price | currency:'INR':'symbol-narrow':'3.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="pro_img" style="border-radius: 20px;">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>IMAGE</b>
                </th>
                <td mat-cell *matCellDef="let element">
                  <img src="{{'http://localhost:3000/images/product/'+element.pro_img}}" height="50px" width="50px"> </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                  <b>ACTION</b>
                </th>
                <td mat-cell *matCellDef="let element">{{element.action}}
                  <button mat-mini-fab color="Accent" >
                    <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
                  </button>
                  &nbsp;

                  <button mat-mini-fab color="Accent" >
                    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[3,0,0]"></mat-paginator>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
